<div class="flex flex-col gap-small" data-controller="genre-style-assignments">

  <h1><%= "#{t('.unassigned_genre_tags')} (#{@event_tag_stats.unassigned_genre_tags.count})" %></h1>

  <div class="flex flex-col gap-large">
    <% @unassigned_genre_tags.each do |genre_tag| %>
      <%= render 'tags/tag', tag: genre_tag %>
    <% end %>
  </div>

  <div class="flex justify-center">
    <%= paginate @unassigned_genre_tags, data: { turbo_frame: '_top' } %>
  </div>
</div>
