<% content_for :title, "Events" %>

<div class="flex flex-col gap-xlarge align-stretch" data-controller="filter" data-action='hw-combobox:preselection->filter#updateControlsStatus hw-combobox:selection->filter#apply datepicker:selection->filter#apply datepicker:removal->filter#removeFilter'>

    <%= render 'filter', filter: @filter %>

    <%= render 'events', events: @events %>
</div>

