<% content_for :title, "Events" %>

<div class="flex flex-col gap-xlarge align-stretch" data-controller="filter">
  <%= render 'filter', filter: @filter %>

  <%= render 'events', events: @events %>
</div>

