.container {
  --color-bg-inrange: var(--theme-accent-muted);
  --color-bg-default: var(--theme-bg-color);
  --color-bg-secondary: var(--theme-bg-color);
  --color-fg-default: var(--theme-fg-color);
  --color-fg-primary: var(--theme-accent-color);
  --color-fg-secondary: #748194;
  --color-fg-selected: var(--theme-bg-color);
  --color-fg-muted: var(--theme-fg-muted);
  --color-fg-accent: var(--theme-accent-color);
  --color-btn-primary-bg: #fff;
  --color-btn-primary-fg: #6b82ff;
  --color-btn-primary-border: #6b82ff;
  --color-btn-primary-hover-bg: #6b82ff;
  --color-btn-primary-hover-fg: #fff;
  --color-btn-primary-hover-border: #6b82ff;
  --color-btn-primary-disabled-bg: #a2b0ff;
  --color-btn-primary-disabled-fg: #fff;
  --color-btn-primary-disabled-border: #a2b0ff;
  --color-btn-secondary-bg: #fff;
  --color-btn-secondary-fg: var(--theme-fg-muted);
  --color-btn-secondary-border: #748194;
  --color-btn-secondary-hover-bg: #748194;
  --color-btn-secondary-hover-fg: #fff;
  --color-btn-secondary-hover-border: #748194;
  --color-btn-secondary-disabled-bg: #b5bbc4;
  --color-btn-secondary-disabled-fg: #fff;
  --color-btn-secondary-disabled-border: #b5bbc4;
  --color-border-default: #ddd;
  --color-border-locked: #f9f9f9;

  --day-width: 42px;
  --day-height: 37px;
  --border-radius: var(--border-radius);
}

.container {
  font-family: inherit;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  transition: none;
}

.calendar > .days-grid > .day {
  border-radius: var(--border-radius);

  &:hover {
    color: var(--theme-accent-color);
    border: var(--border-width) solid var(--theme-accent-color);
  }

  &.today {
    font-weight: bold;
    color: inherit;
    text-decoration: underline;
  }
}

.container.range-plugin {
  .calendar > .days-grid > .day.in-range {
    color: var(--theme-bg-color);
  }
}

.container.preset-plugin main.preset-left .preset-plugin-container {
  width: 100%;
}

.preset-plugin-container {
  justify-content: space-between;
  gap: var(--gap-medium);

  button {
    background-color: var(--theme-bg-muted);
    border: var(--border-width) solid var(--theme-bg-color);
    border-radius: var(--border-radius);

    &:hover {
      border: none;
      border: var(--border-width) solid var(--theme-bg-color);
      color: var(--theme-fg-color);
    }

    &.preset-button {
      flex-grow: 1;

      &.active {
        background-color: var(--theme-accent-color);
        color: var(--theme-bg-color);
      }
    }
  }

}
