:root {
  --hw-combobox-width: unset;
}

body {
  --hw-border-width--slim: var(--border-width);
  --hw-border-radius: 0px;
  --hw-component-bg-color: var(--theme-bg-color);
  --hw-active-bg-color: var(--theme-bg-muted);
  --hw-option-bg-color: var(--theme-bg-color);
  --hw-border-color: var(--border-color);
  --hw-focus-color: var(--theme-accent-color);
  --hw-handle-width: var(--filter-icon-size);
  --hw-line-height: var(--filter-input-line-height);

  .hw-combobox__dialog {
    background-color: var(--theme-bg-color);
  }

  .hw-combobox__main__wrapper {
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    height: 100%;

    &:focus-within {
      box-shadow: none;
    }
  }

  .hw-combobox__input[data-queried] + .hw-combobox__handle::before {
    background-image: none;
    background-size: var(--hw-handle-width--queried);
  }
  .hw-combobox__handle {
    position: unset;

    &::before {
      background-image: none;
      position: initial;
      vertical-align: middle;
    }
  }

  .hw-combobox__input, .hw-combobox__dialog__input {
    background-color: var(--theme-bg-color);
    color: var(--theme-fg-color);
  }

  .hw-combobox__chip {
    border-width: var(--tag-border-width);
    padding: 5px;
    font-size: 80%;
    white-space: nowrap;
  }
}
