/* TODO: use own CSS variables */
.datepicker {
  border: var(--border-width) solid var(--border-color);
  padding: var(--hw-padding--slim) calc(var(--hw-handle-width) + var(--hw-padding--slimmer)) var(--hw-padding--slim) var(--hw-padding--thick);
  line-height: var(--filter-input-lineheight);
  position: relative;

  &:focus-within {
    box-shadow: 0 0 0 var(--hw-border-width--thick) var(--hw-focus-color);
  }

  &:has(.hw-combobox__chip) {
    .datepicker-input::placeholder {
      color: transparent;
    }
  }

  input {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: inherit;
    line-height: var(--hw-line-height);
    min-width: calc(var(--hw-combobox-width) / 2);
    padding: 0;
    text-overflow: ellipsis;
    max-width: 100%;
    flex-grow: 1;
    line-height: var(--filter-input-lineheight);

    &:focus,
    &:focus-visible,
    &:focus-within {
      box-shadow: none;
      outline: none;
    }
  }

  .datepicker-handle {
    height: 100%;
    position: absolute;
    right: var(--hw-handle-offset-right);
    top: 0;
    width: var(--filter-icon-size);

    &::before {
      background-size: var(--filter-icon-size);
      position: initial;
      vertical-align: middle;
    }
  }

  &.active {
    background-color: var(--color-bg-black);
    color: var(--color-white);


    .datepicker-handle::before {
      background-image: var(--hw-handle-image--queried);
      background-size: var(--hw-handle-width--queried);
    }
  }
}
