.input-wrapper {
  border: var(--border-width) solid var(--border-color);
  line-height: var(--filter-input-line-height);
  position: relative;

  &:focus-within {
    box-shadow: 0 0 0 var(--hw-border-width--thick) var(--hw-focus-color);
  }

  &:has(.chip) {
    input::placeholder {
      color: transparent;
    }
  }
}

.chips {
  padding-left: var(--gap-medium);
}

.chip {
  border: none;
  padding: 3px 5px;
  font-size: 80%;
  background-color: var(--theme-accent-color);
  color: var(--theme-bg-color);
  white-space: nowrap;
}

.filter-icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.filter-button {
  line-height: var(--filter-input-line-height);
}

.searchbar {
  gap: 5vw;
}

.filter-select {
  line-height: var(--filter-input-line-height);
}

.date {
  color: var(--theme-accent-color);
  border-bottom: 5px solid var(--border-color);
  border-bottom-style: double;
}

.event {
  border-bottom: var(--border-width) solid var(--border-color);
  padding-bottom: var(--gap-medium);

  .event-details {
    margin-bottom: var(--gap-large);
  }
}
