.input-wrapper {
  padding: var(--gap-small);
  border: var(--border-width) solid var(--border-color);
  line-height: var(--filter-input-line-height);
  position: relative;

  &:has(.tag) {
    input::placeholder {
      color: transparent;
    }
  }
}

.filter-icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.filter-button {
  line-height: var(--filter-input-line-height);
}

.searchbar {
  gap: 5vw;
}

.filter-select {
  line-height: var(--filter-input-line-height);
}

.date {
  color: var(--theme-accent-color);
  border-bottom: 5px solid var(--theme-accent-color);
  border-bottom-style: double;
}

.event {
  border-bottom: var(--border-width) solid var(--theme-accent-color);
  padding-bottom: var(--gap-medium);

  .event-details {
    margin-bottom: var(--gap-large);
  }
}
