.input-wrapper {
  border: var(--border-width) solid var(--border-color);
  /* padding: var(--gap-small) var(--gap-medium); */
  /* padding: var(--hw-padding--slim) calc(var(--hw-handle-width) + var(--hw-padding--slimmer)) var(--hw-padding--slim) var(--hw-padding--thick); */
  line-height: var(--filter-input-lineheight);
  position: relative;

  &:focus-within {
    box-shadow: 0 0 0 var(--hw-border-width--thick) var(--hw-focus-color);
  }

  &:has(.hw-combobox__chip) {
    input::placeholder {
      color: transparent;
    }
  }
}

.filter-icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.searchbar {
  gap: 5vw;
}

.filter-select {
  line-height: var(--filter-input-lineheight);
}

.date {
  color: var(--theme-accent-color);
  border-bottom: 5px solid var(--border-color);
  border-bottom-style: double;
}

.event {
  border-bottom: var(--border-width) solid var(--border-color);
  padding-bottom: var(--gap-medium);

  .event-details {
    margin-bottom: var(--gap-large);
  }
}
