:root {
  --hw-border-width-slim: var(--border-width);
  --hw-border-radius: 0px;
  --hw-combobox-width: unset;
  --hw-border-color: var(--border-color);
  --hw-handle-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCI+PC9nPjxnIGlkPSJTVkdSZXBvX3RyYWNlckNhcnJpZXIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9nPjxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj48dGl0bGU+aW9uaWNvbnMtdjUtZjwvdGl0bGU+PHBhdGggZD0iTTQ2NCw0MjgsMzM5LjkyLDMwMy45YTE2MC40OCwxNjAuNDgsMCwwLDAsMzAuNzItOTQuNThDMzcwLjY0LDEyMC4zNywyOTguMjcsNDgsMjA5LjMyLDQ4UzQ4LDEyMC4zNyw0OCwyMDkuMzJzNzIuMzcsMTYxLjMyLDE2MS4zMiwxNjEuMzJhMTYwLjQ4LDE2MC40OCwwLDAsMCw5NC41OC0zMC43Mkw0MjgsNDY0Wk0yMDkuMzIsMzE5LjY5QTExMC4zOCwxMTAuMzgsMCwxLDEsMzE5LjY5LDIwOS4zMiwxMTAuNSwxMTAuNSwwLDAsMSwyMDkuMzIsMzE5LjY5WiI+PC9wYXRoPjwvZz48L3N2Zz4=');
}

.hw-combobox__main__wrapper {
  max-width: var(--search-field-width);
}
