.tag {
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 80%;
  background-color: var(--theme-bg-muted);
  color: var(--theme-fg-color);

  &.active {
    background-color: var(--theme-accent-color);
    color: var(--theme-bg-color);
  }
}
