.tag {
  padding: 5px;
  font-size: 80%;
  background-color: var(--theme-bg-color);
  color: var(--theme-fg-color);
  line-height: var(--tag-line-height);
  border: var(--tag-border-width) solid var(--theme-fg-color);

  &.active {
    background-color: var(--theme-accent-color);
    border-color: var(--theme-accent-color);
    color: var(--theme-bg-color);
  }
}

button.tag {
  cursor: pointer;
  border-color: var(--theme-bg-muted);
  background-color: var(--theme-bg-muted);
  color: var(--theme-fg-color);
}
