body {
  --color-text: var(--color-black);
  --color-background: var(--color-pink);
  --color-accent: var(--color-green);
  --color-warn: var(--color-red);

  --border-width: 2px;
  --tag-border-width: 1px;
  --border-color: var(--theme-accent-color);

  --theme-bg-color: var(--color-background);
  --theme-fg-color: var(--color-text);
  --theme-accent-color: var(--color-accent);
  --theme-warn-color: var(--color-warn);
  --theme-fg-muted: hsl(from var(--theme-fg-color) h s calc(l + 30));
  --theme-bg-muted: hsl(from var(--theme-bg-color) h s calc(l - 10));
  --theme-accent-muted: hsl(from var(--theme-accent-color) h calc(s - 60) calc(l + 15));

  background-color: var(--theme-bg-color);
  color: var(--theme-fg-color);
}

input {
  color: var(--theme-accent-color);
}
