<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<title>Bad Bonn</title>

		<meta property="og:title" content="Bad Bonn" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://club.badbonn.ch/" />
		<meta property="og:image" content="/assets/img/club-bad-bonn-og-image.png" />

		<link rel="icon" type="image/png" href="/assets/img/favicon.png">
		<link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"></script>
		<script src="//code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="//unpkg.com/@barba/core@2.10.0"></script>

		<link href="https://club.badbonn.ch/assets/css/style.min.css?v=17" rel="stylesheet">		<script src="https://club.badbonn.ch/assets/js/app.min.js?v=17"></script>	</head>
	<body data-barba="wrapper">
		<nav class="nav">
	<div class="nav-bb">
		Bad&nbsp;Bonn
	</div>
	<div class="nav-menu" style="display: none;">
		<div class="menu-main-container">
			<ul id="menu-main" class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/program">Programm</a></li>
				<li><a href="/archive">Archive</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/info">Info</a></li>
				<li><a href="/boutique">Boutique</a></li>
				<li><a href="/kilbi">Kilbi</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="program-metas" style="display: none;">
	<div class="program-metas-col">
		<div class="program-metas-date"></div>
		<div class="program-metas-col program-metas-time program-metas-mobile"></div>
		<div class="program-metas-price"></div>
	</div>
	<div class="program-metas-col program-metas-time program-metas-desktop"></div>
	<div class="program-metas-col program-metas-title"></div>
</div>
		<div class="home-bg" style="display: none">
			<div class="home-bg-a" style="display: none"></div>
			<div class="home-bg-b" style="display: none"></div>
		</div>
<main class="program" data-barba="container" data-barba-namespace="program">
	
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/eyehategod">
							2						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/eyehategod">
							20:15						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/eyehategod">
							EYEHATEGOD, Leaden Fumes						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-i">
							5						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-i">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-i">
							Güner Künier, TVOD, Hundefutter						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-ii">
							6						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-ii">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-ii">
							The Chisel, Pig Sweat, (ROBBER had to cancel)						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-iii">
							7						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-iii">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-all-in-club-festival-day-iii">
							This is Lorelei, Swordes, DJ Cicala						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/deafheaven-spiritual-cramp">
							10						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/deafheaven-spiritual-cramp">
							20:30						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/deafheaven-spiritual-cramp">
							Deafheaven, Spiritual Cramp (Sold-Out)						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/buchvernissage-mea-das-lied-der-vergessenen">
							11						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/buchvernissage-mea-das-lied-der-vergessenen">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/buchvernissage-mea-das-lied-der-vergessenen">
							Buchvernissage, Mea - Das Lied der Vergessenen						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/wormrot-bleachdrinker">
							13						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/wormrot-bleachdrinker">
							21:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/wormrot-bleachdrinker">
							Wormrot, Bleachdrinker						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/dopethrone">
							15						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/dopethrone">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/dopethrone">
							Dopethrone, Reaptile						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/they-are-gutting-a-body-of-water">
							18						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/they-are-gutting-a-body-of-water">
							21:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/they-are-gutting-a-body-of-water">
							They Are Gutting a Body of Water, golfjugo						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Jun">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jun				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/earth-crisis">
							24						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/earth-crisis">
							21:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/earth-crisis">
							Earth Crisis, Hoarah						</a>
									</div>
			</div>
		<div class="program-separator"></div>
			<div class="program-row" data-year="2025" data-month="Jul">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Jul				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/party-dozen">
							9						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/party-dozen">
							21:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/party-dozen">
							Party Dozen						</a>
									</div>
			</div>
		<div class="program-separator"></div>
			<div class="program-row" data-year="2025" data-month="Aug">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Aug				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/madball">
							4						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/madball">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/madball">
							Madball, Unified Move						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Aug">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Aug				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/suuns">
							7						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/suuns">
							20:30						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/suuns">
							SUUNS						</a>
									</div>
			</div>
		<div class="program-separator"></div>
			<div class="program-row" data-year="2025" data-month="Sep">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Sep				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-thursday">
							4						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-thursday">
							15:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-thursday">
							Kilbi Festival Day 1: SOLD OUT						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Sep">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Sep				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-friday">
							5						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-friday">
							15:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-friday">
							Kilbi Festival Day 2: SOLD OUT						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Sep">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Sep				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-saturday">
							6						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-saturday">
							14:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/bad-bonn-kilbi-festival-saturday">
							Kilbi Festival Day 3: SOLD OUT						</a>
									</div>
			</div>
		<div class="program-separator"></div>
			<div class="program-row" data-year="2025" data-month="Oct">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Oct				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/isolation-berlin">
							14						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/isolation-berlin">
							20:30						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/isolation-berlin">
							Isolation Berlin						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Oct">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Oct				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/mark-william-lewis-jordan-playfair">
							17						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/mark-william-lewis-jordan-playfair">
							21:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/mark-william-lewis-jordan-playfair">
							mark william lewis, Jordan Playfair						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Oct">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Oct				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/planet-of-zeus">
							25						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/planet-of-zeus">
							21:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/planet-of-zeus">
							Planet of Zeus						</a>
									</div>
			</div>
		<div class="program-separator"></div>
			<div class="program-row" data-year="2025" data-month="Nov">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Nov				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/model-actriz">
							3						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/model-actriz">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/model-actriz">
							Model/Actriz						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Nov">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Nov				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/yhwh-nailgun">
							4						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/yhwh-nailgun">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/yhwh-nailgun">
							YHWH Nailgun						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Nov">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Nov				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/brant-bjork-trio">
							6						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/brant-bjork-trio">
							20:30						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/brant-bjork-trio">
							Brant Björk Trio						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Nov">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Nov				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/messa">
							12						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/messa">
							20:30						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/messa">
							Messa						</a>
									</div>
			</div>
		
			<div class="program-row" data-year="2025" data-month="Nov">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Nov				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/elie-zoe">
							29						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/elie-zoe">
							20:30						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/elie-zoe">
							elie zoé						</a>
									</div>
			</div>
		<div class="program-separator"></div>
			<div class="program-row" data-year="2025" data-month="Dec">
				<div class="program-col program-year">
					2025				</div>
				<div class="program-col program-month">
					Dec				</div>
				<div class="program-col program-day">
											<a href="https://club.badbonn.ch/archive/2025/getdown-services">
							8						</a>
									</div>
				<div class="program-col program-time">
											<a href="https://club.badbonn.ch/archive/2025/getdown-services">
							20:00						</a>
					
				</div>
				<div class="program-col program-bands">
											<a href="https://club.badbonn.ch/archive/2025/getdown-services">
							Getdown Services						</a>
									</div>
			</div>
			</main>
	</body>
</html>