<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cafete Bern</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="43200">
    <meta name="keywords" content="Cafete, Cafeteria, Programm, Reitschule, Bern, Nightlife, Bar, Disco">
    <meta name="description" content="Offizielle Webseite der Cafete Bern">
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=0BxCDpnGzi26cZDMwZk1FUk1va0k" type="image/png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;700;900&display=swap"
          rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5YR9GV92MT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5YR9GV92MT');
    </script>

</head>
<body>

<div class="bg" id="bg">
    <div id="programm" class="programm">
        <div class="banner">
            <img class="image"   src="./static/cafete-white.png">
            <div class="topbar">
                <div><a class="nav" href="/contact.html">kontakt</a></div>
                <div><a class="nav" href="https://de-de.facebook.com/die.cafete" target="_blank">facebook</a></div>
                <div><a class="nav" href="https://www.instagram.com/cafete_reitschule/?hl=de" target="_blank">instagram</a></div>
            </div>
        </div>
        
        
        <div class="event">
            <div class="date">Fr. 06. Juni 2025 &#8212 23:00</div>
            <div class="title">Rap ir Cafete by Gschächnütschlimmers: Olekanone und Nova</div>
            <div class="acts">Olekanone und Nova<br />Afterparty: Maja | Fin Lora & Nikki Las</div>
            <div class="style">Style: Rap / Bass / Breakbeat / Drum'n'Bass</div>
            <div class="description">Olekanone und Nova bringen die Bühne zum Beben und nehmen die Cafete mit auf eine Achterbahnfahrt. Mit Gesellschaftskritik, Selbstliebe und frechen Hooks liefert das Rap-Duo aus Zürich eine Performance, die jede:n in Fahrt bringt. Danach gibt's DJ-Sets von Maja, Fin Lora & Nikki Las.</div>
            <div class="link"><a href="https://open.spotify.com/intl-de/artist/257Xm5orSaNvAR4KZXnIFL">open.spotify.com/intl-de/artist/257Xm5orSaNvAR4KZXnIFL</a></div>
            <div class="link"><a href="https://open.spotify.com/intl-de/artist/4ms4UasINpQClfWMZvqF5L">open.spotify.com/intl-de/artist/4ms4UasINpQClfWMZvqF5L</a></div>
            <div class="link"><a href="https://www.instagram.com/majatanzt9">instagram.com/majatanzt9</a></div>
            <div class="link"><a href="https://www.instagram.com/niklas.wey">instagram.com/niklas.wey</a></div>
            <div class="link"><a href="https://www.instagram.com/flx.r">instagram.com/flx.r</a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Sa. 07. Juni 2025 &#8212 23:00</div>
            <div class="title">Eyes Down</div>
            <div class="acts">Iao Ito (Lausanne/Bristol/London)<br />Underground Level 3000 (BE)<br />Kameh Imihna (BE)<br />Feero (BNC)</div>
            <div class="style">Style: Dubstep / Drum‘n‘Bass / Bass Music</div>
            <div class="description">Eyes Down feiert heuer ein Jahrzehnt tiefe Frequenzen, intensive Nächte und ihre klangaffine Community. Eyes Down ist über die Jahre gewachsen – mit der Crowd, der Musik und jedem Vibe im Raum. Kein Hype, kein Showoff. Nur ehrlicher Sound, direkte Energie und Liebe zum Detail. Dank geht an alle, die diesen Raum möglich machen: die Artists, die Zuhörenden, die Helfenden. Dubstep bleibt! #EyesDown #DubstepBern #10JahreVibes #DeepSound #UndergroundBern</div>
            <div class="link"><a href="www.soundcloud.com/iaoito">soundcloud.com/iaoito</a></div>
            <div class="link"><a href="www.soundcloud.com/nuwadalism">soundcloud.com/nuwadalism</a></div>
            <div class="link"><a href="www.soundcloud.com/jahdubid">soundcloud.com/jahdubid</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">So. 08. Juni 2025 &#8212 23:00</div>
            <div class="title">Hexagon: Pfingstmadness</div>
            <div class="acts">Risca & Sarbach - all night long (Orcus/Soundbude)</div>
            <div class="style">Style: Techno / Hardgroove / Breaks & UK Garage </div>
            <div class="description">Zur Pfingstausgabe der Hexagon-Serie reist Host Sarbach mit einem guten Freund ins Kafi nach Bern: Risca aus Interlaken. Die beiden haben schon etliche Sets zusammen gespielt und kennen die Rezepte, um jeden Dancefloor aufzuheizen. Risca & Sarbach – all night long. Vorbeikommen und mittanzen!</div>
            <div class="link"><a href="https://soundcloud.com/bruno-risca">soundcloud.com/bruno-risca</a></div>
            <div class="link"><a href="https://soundcloud.com/sarbach">soundcloud.com/sarbach</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Do. 12. Juni 2025 &#8212 23:59</div>
            <div class="title">Tanzbär</div>
            <div class="acts">Dunkin</div>
            <div class="style">Style: House / Minimal / Dub / Electronic</div>
            <div class="description">Der Tanzbär begrüsst ein bekanntes Gesicht aus der Berner Nacht- und Clubszene: Dunkin. Seine abwechlungreichen und einzigartigen Beats verbreiten eine leidenschaftliche, warme Atmosphäre, die zum Tanzen anregt und das Publikum auf eine unvergessliche Reise mit viel Herz, Groove und Liebe mitnimmt.</div>
            <div class="link"><a href="https://soundcloud.com/dunkin_music">soundcloud.com/dunkin_music</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Fr. 13. Juni 2025 &#8212 23:00</div>
            <div class="title">Psy Night</div>
            <div class="acts">Freakydelica<br />Variolux<br />AudioTaste</div>
            <div class="style">Style: Psy Prog / Psy Trance / Full On</div>
            <div class="description">Zum letzen Mal vor der Sommerpause frönt die Cafete den psychedelischen Klängen. Fürs musikalische Programm zuständig sind Freakydelica, Variolux und AudioTaste.</div>
            <div class="link"><a href="https://soundcloud.com/tanjasarimanian">soundcloud.com/tanjasarimanian</a></div>
            <div class="link"><a href="https://soundcloud.com/dj_variolux">soundcloud.com/dj_variolux</a></div>
            <div class="link"><a href="https://soundcloud.com/audiotaste">soundcloud.com/audiotaste</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Sa. 14. Juni 2025 &#8212 23:00</div>
            <div class="title">Jamaican Roots Culture #46</div>
            <div class="acts">Golden Roots Soundsystem<br />Clymax Sound (FRA)</div>
            <div class="style">Style: Roots Reggae & Dub / Early Reggae / Ska & Rocksteady</div>
            <div class="description">Diesesmal zu Gast an der Jamaican Roots Culture sind Freunde von Clymax Sound aus Paris. Sie teilen an diesem Abend ihre musikalischen Leckerbissen mit dem Berner Publikum. Wie üblich kommt der Sound vom Golden Roots Soundsystem und direkt ab Schallplatte. Authentisch-jamaikanische Vibrationen sind sicher.</div>
            <div class="link"><a href="https://www.facebook.com/goldenrootssound/">facebook.com/goldenrootssound</a></div>
            <div class="link"><a href="https://www.youtube.com/@goldenrootssoundsystem920">youtube.com/@goldenrootssoundsystem920</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Do. 19. Juni 2025 &#8212 23:30</div>
            <div class="title">Tanzbär</div>
            <div class="acts">Lo.u<br />Lovre</div>
            <div class="style">Style: House / Deep House / Techno</div>
            <div class="description">In dieser Nacht öffnet die Cafete ihre Türen für eine Reise durch treibende Rhythmen und hypnotische Klanglandschaften. Den Auftakt macht Lovre mit einem feinfühligen Set aus Deep House und organischem Groove – warm, fliessend und voller Atmosphäre. Im Anschluss übernimmt Lo.u und führt die Nacht in tiefere Gefilde: Tech House trifft auf minimalistischen Techno, getragen von satten Bässen und subtilen Melodien. Ein Abend voller Energie und Flow – intensiv, tanzbar und unvergesslich.</div>
            <div class="link"><a href="https://soundcloud.com/laura-barresi">soundcloud.com/laura-barresi</a></div>
            <div class="link"><a href="https://soundcloud.com/lovre27">soundcloud.com/lovre27</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Fr. 20. Juni 2025 &#8212 23:00</div>
            <div class="title">In der Kiste</div>
            <div class="acts">Silja<br />Benill<br />DJ Sevi (Aus der Kiste)</div>
            <div class="style">Style: Techno / House / Progressive</div>
            <div class="description">Silja begeistert mit stimmungsvollen Sets zwischen Melodic House und sphärischem Techno. Als feste Grösse der lokalen Clubszene verbindet sie treibende Beats mit emotionaler Tiefe. Nach längerer Abwesenheit hinter den Decks kommt es zu einem Comeback eines Berner DJs: Benill serviert zum Dessert der Nacht feinsten treibenden Techno mit progressiven Gewürzen. Abgerundet wird der Abend von DJ Sevi mit einem seiner legendären Intro-Sets.</div>
            <div class="link"><a href="https://soundcloud.com/meerganglied">soundcloud.com/meerganglied</a></div>
            <div class="link"><a href="https://soundcloud.com/user-258264621">soundcloud.com/user-258264621</a></div>
            <div class="link"><a href="https://aus-der-kiste.bandcamp.com/">aus-der-kiste.bandcamp.com</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Sa. 21. Juni 2025 &#8212 23:00</div>
            <div class="title">THX4ALL – First Edition </div>
            <div class="acts">Mo Rane<br />BASS<br />bin<br />DIMENGO</div>
            <div class="style">Style: Ghetto Tech / Hardgroove / Hard Techno</div>
            <div class="description">An diesem 21. Juni gibt's eine Premiere: Bin und BASS präsentieren THX4ALL, ein Schweizer DJ-Kollektiv, das sich von der House- und Techno-Szene der frühen 90er inspirieren lässt. Zu ihrem Cafete-Debut haben die beiden Hosts zwei weitere Artists eingeladen, die ihren Vibe teilen: Mo Rane und DIMENGO. Früh kommen und lange bleiben lohnt sich. Die Besuchenden erwartet einen Trip durch hypnotischen, rohen und groovegetriebenen Techno.</div>
            <div class="link"><a href="https://soundcloud.com/morane-sansonnens">soundcloud.com/morane-sansonnens</a></div>
            <div class="link"><a href="https://soundcloud.com/bass-943658488">soundcloud.com/bass-943658488</a></div>
            <div class="link"><a href="https://soundcloud.com/diego-menendez-466120557">soundcloud.com/diego-menendez-466120557</a></div>
            <div class="link"><a href="https://soundcloud.com/jade-ueberschaer">soundcloud.com/jade-ueberschaer</a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Fr. 27. Juni 2025 &#8212 23:00</div>
            <div class="title">Bass d'art</div>
            <div class="acts">Lewin<br />Inam Ra<br />DJ Skeleton</div>
            <div class="style">Style: Techno</div>
            <div class="description">Die Cafete verpasst dem Publikum ein Erste-Sahne-Fitnessprogramm. The one and only Hauspirat Skeleton lässt den Club zu harten, minimalistischen Beats eingrooven. Danach katapultiert Guru Inam Ra die Crowd in die dunklen Sphären der Berliner Club-Mukkke. Und zu guter letzt ballert Lewin die Ravers mit schnellem Driving Techno ins Delirium. Der Atem geht so kurz wie die Nacht. Bass d’art kennt keine Gnade.</div>
            <div class="link"><a href="https://www.mixcloud.com/inam_ra/">mixcloud.com/inam_ra</a></div>
            <div class="link"><a href="https://www.mixcloud.com/lorenzlewin/">mixcloud.com/lorenzlewin</a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Sa. 28. Juni 2025 &#8212 23:00</div>
            <div class="title">Fluidescence</div>
            <div class="acts">Blurryface b2b Hantu (ZH)<br />NLA (BE)<br />Unknown Factor (NE)</div>
            <div class="style">Style: Drum'n'Bass / Neurofunk</div>
            <div class="description">Fluidescence meldet sich zurück und verspricht einmal mehr eine Nacht zwischen Präzision und Wahnsinn. Blurryface und Hantu aus Zürich feiern ihre Cafete-Premiere mit einem b2b-Set zwischen melodischem Edge, komplexen Rhythmen und düsterem Druck. Dazu kommt Unknown Factor aus Neuenburg, bekannt für seinen massiven, schwergewichtigen Neurofunk, der wie Sturmwellen durch die Nacht rollt. Gehostet wird das Ganze erstmals offiziell von Sturzflug-Allrounder NLA, der sich mit Leichtigkeit durch die Genres bewegt und die Session mit feinem Gespür zusammenhält. Fluid, laut und tief – wie immer.</div>
            <div class="link"><a href="https://soundcloud.com/blurryface_music">soundcloud.com/blurryface_music</a></div>
            <div class="link"><a href="https://soundcloud.com/hantu_dnb">soundcloud.com/hantu_dnb</a></div>
            <div class="link"><a href="https://soundcloud.com/nla_dnb">soundcloud.com/nla_dnb</a></div>
            <div class="link"><a href="https://soundcloud.com/unkn0wn_fact0r">soundcloud.com/unkn0wn_fact0r</a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
        <div class="event">
            <div class="date">Sa. 28. Juni 2025 &#8212 23:00</div>
            <div class="title">Fluidescence</div>
            <div class="acts">Blurryface b2b Hantu (ZH)<br />NLA (BE)<br />Unknown Factor (NE)</div>
            <div class="style">Style: Drum'n'Bass / Neurofunk</div>
            <div class="description">Fluidescence meldet sich zurück und verspricht einmal mehr eine Nacht zwischen Präzision und Wahnsinn. Blurryface und Hantu aus Zürich feiern ihre Cafete-Premiere mit einem b2b-Set zwischen melodischem Edge, komplexen Rhythmen und düsterem Druck. Dazu kommt Unknown Factor aus Neuenburg, bekannt für seinen massiven, schwergewichtigen Neurofunk, der wie Sturmwellen durch die Nacht rollt. Gehostet wird das Ganze erstmals offiziell von Sturzflug-Allrounder NLA, der sich mit Leichtigkeit durch die Genres bewegt und die Session mit feinem Gespür zusammenhält. Fluid, laut und tief – wie immer.</div>
            <div class="link"><a href="https://soundcloud.com/blurryface_music">soundcloud.com/blurryface_music</a></div>
            <div class="link"><a href="https://soundcloud.com/hantu_dnb">soundcloud.com/hantu_dnb</a></div>
            <div class="link"><a href="https://soundcloud.com/nla_dnb">soundcloud.com/nla_dnb</a></div>
            <div class="link"><a href="https://soundcloud.com/unkn0wn_fact0r">soundcloud.com/unkn0wn_fact0r</a></div>
            <div class="link"><a href=""></a></div>
        </div>
        <div class="divider"></div>
        
    </div>
    <div id="footer">
        <p id="footer"><br/>2015 -
            <script>
                var d = new Date();
                var n = d.getFullYear();
                document.write(n);
            </script>
            by Cafete
        </p>
    </div>
</div>
</body>
</html>
